*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;
    --stroke-color: #1E293B;

    --font-family: 'Archivo', sans-serif;
    --h1: 800 24px/135% var(--font-family); 
    --h2: 800 16px/140% var(--font-family);
    --h3: 800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text: 400 16px/140% var(--font-family);
    --text-sm: 400 14px/160% var(--font-family); /*Font Paragraph*/

}

.container{
    
    max-width: 1280px; /*Largura maxima*/
    padding-inline: 32px; /*Padding interno*/
    margin-inline: auto; /*Deixar o container centralizado*/

}

body{
    font: var(--text);
    color: var(--text-color-primary);
    background-color: var(--bg-color);
}

a{
    color: inherit;
    text-decoration: none;
    
}

a:hover{
    color: var(--brand-color-light);
}

img{
    max-width: 100%; /*vitar que a img transborde */
}


h1, h2, h3 {
    font: inherit;
}

main {
    margin-top: 40px;
}

.content-tag {
    display: inline-block;
    padding: 4px 8px;
    background-color: var(--brand-color-dark);
    border-radius: 4px;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.2;
    font-family: var(--font-family);
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: var(--text-color-primary);
}